In [8]:
file = open('C:\\Users\\enesl\\Desktop\\dataclean\\employee_revenue.txt')

In [9]:
data = file.read()

In [11]:
data

'  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.  \nomer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.\n   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.     \nCeline with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.  \n     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.\nBora called 100 people generated 770 dollars last month, his average deal size was 25$.  \nRose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE. \nEllen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size. \n bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.\nTaylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$. \n  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.'

In [37]:
lines = data.splitlines()
lines

['  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.  ',
 'omer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.',
 '   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.     ',
 'Celine with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.  ',
 '     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.',
 'Bora called 100 people generated 770 dollars last month, his average deal size was 25$.  ',
 'Rose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE. ',
 'Ellen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size. ',
 ' bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.',
 'Taylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$. ',
 '  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.']

In [38]:
string = lines[0]
string

'  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.  '

In [40]:
string = string.strip(" ")
string

'Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.'

In [41]:
string = string.lower()
string

'ben made 300 calls and generated 2400 dollars last month with an 8$ average deal size.'

In [42]:
string = string.capitalize()
string

'Ben made 300 calls and generated 2400 dollars last month with an 8$ average deal size.'

In [44]:
string_split = string.split(" ")
string_split

['Ben',
 'made',
 '300',
 'calls',
 'and',
 'generated',
 '2400',
 'dollars',
 'last',
 'month',
 'with',
 'an',
 '8$',
 'average',
 'deal',
 'size.']

In [45]:
name = string_split[0]
name

'Ben'

In [46]:
call_number = string_split[2]
call_number

'300'

In [49]:
# finding dollar symbol's value

for i in string_split:
    if '$' in i:
        average_deal_size = i.split('$')[0]

average_deal_size

'8'

In [48]:
# finding index of dollars

index_dollar = string_split.index('dollars')
index_dollar

7

In [51]:
revenue_index = index_dollar-1
string_split[revenue_index]

'2400'

In [53]:
# print info

print(f"""name : {name}
call number : {call_number}
average deal size : {average_deal_size}
revenue : {string_split[revenue_index]}""")

name : Ben
call number : 300
average deal size : 8
revenue : 2400

In [55]:
# create function to all lines

In [56]:
names = []
call_numbers = []
avg_deal_sizes = []
revenues = []

In [62]:
def clean_data():
    for employee in lines:
        #clean string
        employee = employee.strip(' ')
        employee = employee.lower()
        employee = employee.capitalize()
        
        #split the clean split
        split_emp = employee.split(' ')
        
        #extract the name
        name = split_emp[0]
        call_number = split_emp[2]
        
        #extract average deal size
        for i in split_emp:
            if '$' in i:
                avg_deal_size = i.split('$')[0]
                
        #extract revenue
        dollars_index = split_emp.index('dollars')
        revenue = split_emp[dollars_index-1]
        
        #convert to the correct data type
        call_number = int(call_number)
        avg_deal_size = int(avg_deal_size)
        revenue = int(revenue)
        
        #append the informations to the list
        names.append(name)
        call_numbers.append(call_number)
        avg_deal_sizes.append(avg_deal_size)
        revenues.append(revenue)
    
    return names,call_numbers,avg_deal_sizes,revenues

In [63]:
names, call_numbers, avg_deal_sizes, revenues = clean_data()

In [66]:
print('names :', names)
print('call numbers :', call_numbers)
print('average deal sizes :', avg_deal_sizes)
print('revenues :', revenues)

names : ['Ben', 'Omer', 'Karen', 'Celine', 'Sue', 'Bora', 'Rose', 'Ellen', 'Bob', 'Taylor,', 'Jude']
call numbers : [300, 10, 500, 70, 100, 100, 600, 800, 200, 450, 80]
average deal sizes : [8, 6, 24, 32, 5, 25, 25, 40, 15, 10, 12]
revenues : [2400, 60, 12000, 2275, 500, 770, 4000, 6000, 800, 1200, 500]

In [67]:
#check the number of employees

number_emp = len(names)
number_emp

11

In [68]:
IDs = list(range(0,11))
IDs

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [72]:
#create dict

dictionary1 = dict(zip(IDs,names))
dictionary1

{0: 'Ben',
 1: 'Omer',
 2: 'Karen',
 3: 'Celine',
 4: 'Sue',
 5: 'Bora',
 6: 'Rose',
 7: 'Ellen',
 8: 'Bob',
 9: 'Taylor,',
 10: 'Jude'}

In [83]:
dictionary2 = dict(zip(revenues,names))
dictionary2

{2400: 'Ben',
 60: 'Omer',
 12000: 'Karen',
 2275: 'Celine',
 500: 'Jude',
 770: 'Bora',
 4000: 'Rose',
 6000: 'Ellen',
 800: 'Bob',
 1200: 'Taylor,'}

In [84]:
#en az çalışanlar
sorted_dictionary = sorted(dictionary2)[0:3]

for i in sorted_dictionary:
    print(dictionary2[i])

Omer
Jude
Bora

In [89]:
#en çok çalışanlar
sorted_dictionary = sorted(dictionary2, reverse = True)[0:3]

for i in sorted_dictionary:
    print(dictionary2[i])

Karen
Ellen
Rose

In [95]:
list1 = ['ben','halsi','sdkf']
list2 = [1234,1222,12121,1111,2344]

In [96]:
dicti = dict(zip(list1,list2))
dicti

{'ben': 1234, 'halsi': 1222, 'sdkf': 12121}